* {
    margin: 0;
    padding: 0;
}

:root {
    --color: #f7e018;
    --color2: #000000;
}

body {
    background-color: var(--color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: var(--color2);
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}

p {
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
}